body,
html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

body {
    background: #3584A7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #473B7B 0%, #3584A7 51%, #30D2BE 100%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}

nav {
    margin-bottom: 20px;
    background-color: #ffffff52 !important;
}

input {
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    font-size: 1.2rem;
    color: #fff;
    text-align: left;
    outline: none;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}

input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}

input:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

.date-title {
    color: #fff;
}

.genre {
    margin-top: 30px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.home-page {
    margin-bottom: 50px;
}

.grid-5 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.titles {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
}

.show-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    font-size: 0.9rem;
    color: #fff;
}

.ticket-status {
    text-decoration: underline;
}

.ticket-available {
    color: #fff;
}

.date-picker-container {
    width: 200px;
    display: grid;
    margin-left: 15px;
    grid-template-columns: 90px 1fr 1fr;
    height: 35px;
    grid-gap: 10px;
    align-items: center;
}

.date-picker-container input {
    height: inherit;
    padding-left: 10px;
}

.date-picker-container button {
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    color: #fff;
    width: 100%;
    height: inherit;
    cursor: pointer;
    padding: 0 15px;
    margin: 0;
}

.message {
    background: #ffffff52;
    padding: 20px;
    margin-top: 40px;
    border-radius: 2px;
    color: #fff;
    font-size: 1.5rem;
}
